@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>登录</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background-image: url(/images/background.jpg);
        }

        #container {
            width: 300px;
            margin: 100px auto;
        }
    </style>
</head>
<body>
    <div id="container">
        <br />
        <br />
        <br />
        <br />
        <img class="img-responsive" src="~/images/logo.png" />
        <br />
        <br />
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input class="form-control" id="username" placeholder="admin" onfocus="init()" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input class="form-control" id="password" type="password" placeholder="admin" onfocus="init()" />
            </div>
        </div>
        <div class="alert alert-danger" id="alert" style="display:none" role="alert"></div>
        <div class="checkbox">
            <label style="color:white"><input id="rememberme" type="checkbox" />请记住我</label>
        </div>
        <label class="label"><a style="cursor:not-allowed" class="pull-left" @*href="@Url.Action("Reset", "Membership")"*@>忘记密码？</a></label>
        @*<label class="label"><a class="pull-right" href="@Url.Action("Regist", "Membership")">注册新用户</a></label>*@
        <br />
        <br />
        <input class="form-control btn btn-success" style="display:inline-block" type="submit" id="submit" value="登录" onclick="login()" />
    </div>
    <div id="beian" style="text-align:center"><a style="color:white" target="_blank" href="http://www.miitbeian.gov.cn/">蜀ICP备15026501号-1</a></div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/md5.js"></script>
<script src="~/Scripts/Membership/Login.js"></script>
