<div class="row">
    <div class="col-md-4">
        <h2>上传试卷</h2>
        <p></p>
        <p><a class="btn btn-default" href="/UploadQuestions/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>下载试卷</h2>
        <p></p>
        <p><a class="btn btn-default" href="/DownloadTestPaper/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>管理试卷</h2>
        <p></p>
        <p><a class="btn btn-default" href="/ViewQuestion/Index">Learn more &raquo;</a></p>
    </div>
</div>
