<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">上传试卷</div>
            <div class="panel-body" style="color:black">单个或批量上传试题到题库</div>
            <div class="panel-footer"><a href="/UploadQuestions/Index">进入 &raquo;</a></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
            <div class="panel-heading">生成试卷</div>
            <div class="panel-body" style="color:black">根据设置的条件生成试卷并下载</div>
            <div class="panel-footer"><a href="/DownloadTestPaper/Index">进入 &raquo;</a></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">管理试题</div>
            <div class="panel-body" style="color:black">管理试题，对试题进行下载、修改、删除等操作</div>
            <div class="panel-footer"><a href="/ViewQuestion/Index">进入 &raquo;</a></div>
        </div>
    </div>
</div>
